
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  .custom-button-blue {
    background-color: #007bff;
  }
  
  .custom-button-green {
    background-color: #28a745;
  }
  
  .custom-button-red {
    background-color: #dc3545;
  }
  
  .custom-button-gray {
    background-color: #6c757d;
  }
  